 .fondoNormal {
    background-image: url("../imagenes/logo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menuPrincipal{
    width: 14%;
    border-radius: 10%;
    float: left;
    border: gray solid;
    padding: 2px;
    
  
}

.colorMenuP a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:gray;
}

.contenido {
    width: 56%;
    margin: 5px;
    padding: 5px 20px;
    float: left;
}

.imagen200 {
   width: 400px;
   height: 400px;
   padding: 5px 20px;
   
}
#cabecera {
    border-width: 2px ;
    border-radius: 2%;
}
footer{
    clear: both;
    text-align: center;
}
.barraMenu ul li {
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-right: 2%;
    border-collapse: initial; 
    border-right: 1px black solid;
    

}

.asideDerecha{
    width: 18%;
    text-align: left;
    float: right;
    border-radius: 3%;
    border: gray solid ;
    padding: 2%;
}

.tituloPrincipal{
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%
}

.fondoChampions{
    background-position: 50%;
    background-image: url("../imagenes/backgroundChampions.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#imagenCR7 {
    width: 200px;
    height: 500px;
}

.contenidoChampions{
    color: white;
}

.menuChampions a{
    color: rgb(49, 96, 226) !important;
}

.bordesChampions{
    border: white solid !important;
}

.menuTrofeos{
    width: 20%;
    border-radius: 10%;
    padding: 2px;
    border: gold solid;
    position: fixed;
    top: 20%;
    right: 0%;

}

.colorMenuT a{
    color: gold;
}

#asideTrofeos{
    width: 90%;
    text-align: center;
    border-radius: 3%;
    border: gray solid ;
    padding: 2%;
}

#contenidoTrofeos{
    width: 75%;
    margin: 5px;
    padding: 5px 20px;
    float: left;
    text-align: center;
    color: gold;
}

.fondoTrofeos{
    background-image: url(../imagenes/fondoTrofeos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table{
    color:gold;
    
}

th, td{
    width: 20%;
    text-align: center;
    
}

/*22*/

td {
    border-bottom: gray solid;
}

#modal {
    background: rgba(61, 60, 60, 0.9);
    color: #fff;
    position: fixed;
    top: -100vh;
    left: 0;
    height: 70vh;
    width: 100vw;
    transition: all .5s;
}

#modal img{
    width: 60%;
    height: 85%;
    position: relative;
    top: 7%;
    left: 20%;
}

#mostrar-modal {
    display: none;
}

#mostrar-modal + label {
    background:gray;
    display: table;
    margin: 5% 25%;
    color: #fff;
    line-height: 3;
    padding: 0 1em;
    cursor: alias;
}
#mostrar-modal + label:hover {
    background: #38678f;
}

#mostrar-modal:checked ~ #modal{
    top: 20%;
  }

#cerrar-modal {
    display: none;
}

#cerrar-modal + label {
    position: fixed;
    top: 25%;
    right: 1em;
    bottom: 40%;
    color: #fff;
    background: black;
    width: 25px;
    height: 25px;
    line-height: 150%;
    text-align: center;
    border-radius: 50%;
    transition: all .5s;
}

#cerrar-modal:checked ~ #modal {
    top: -100vh;
}


#mostrar-modal:checked ~ #cerrar-modal + label {
    display: block;
}
#cerrar-modal:checked + label {
    display: none;
}
