 .fondoNormal {
    background-image: url("../imagenes/logo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.colorMenuP a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:gray;
}

.imagen200 {
   width: 400px;
   height: 400px;
   padding: 5px 20px;   
}
#cabecera {
    border-width: 2px ;
    border-radius: 2%;
}

.barraMenu ul li {
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-right: 2%;
    border-collapse: initial; 
    border-right: 1px black solid;
}

.tituloPrincipal{
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%
}

.fondoChampions{
    background-position: 50%;
    background-image: url("../imagenes/backgroundChampions.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#imagenCR7 {
    width: 200px;
    height: 500px;
}



.colorMenuT a{
    color: gold;
}


.fondoTrofeos{
    background-image: url(../imagenes/fondoTrofeos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table{
    color:gold;
    
}

th, td{
    width: 20%;
    text-align: center;
    
}

/*22*/

td {
    border-bottom: gray solid;
}

.modal {
    background: rgba(61, 60, 60, 0.9);
    color: #fff;
    position: fixed;
    top: -100vh;
    left: 0;
    height: 70vh;
    width: 100vw;
    transition: all .5s;
}

.modal img{
    width: 60%;
    height: 85%;
    position: relative;
    top: 7%;
    left: 20%;
}

#mostrar-modal {
    display: none;
}

#mostrar-modal + label {
    background:gray;
    display: table;
    margin: 5% 25%;
    color: #fff;
    line-height: 3;
    padding: 0 1em;
    cursor: alias;
}
#mostrar-modal + label:hover {
    background: #38678f;
}

#mostrar-modal:checked ~ .modal{
    top: 20%;
  }

#cerrar-modal {
    display: none;
}

#cerrar-modal + label {
    position: fixed;
    top: 25%;
    right: 1em;
    bottom: 40%;
    color: #fff;
    background: black;
    width: 25px;
    height: 25px;
    line-height: 150%;
    text-align: center;
    border-radius: 50%;
    transition: all .5s;
}
#cerrar-modal + label {
    display: none;
  }
#mostrar-modal:checked ~ #cerrar-modal + label {
    display: block;
}
#cerrar-modal:checked + label {
    display: none;
}
.modal1 {
    background: rgba(61, 60, 60, 0.9);
    color: #fff;
    position: fixed;
    top: -100vh;
    left: 0;
    height: 70vh;
    width: 100vw;
    transition: all .5s;
}
.modal1 img{
    width: 60%;
    height: 85%;
    position: relative;
    top: 7%;
    left: 20%;
}
#mostrar-modal1 {
    display: none;
}
#mostrar-modal1 + label {
    background:gray;
    display: table;
    margin: 5% 25%;
    color: #fff;
    line-height: 3;
    padding: 0 1em;
    cursor: alias;
}
#mostrar-modal1 + label:hover {
    background: #38678f;
}

#mostrar-modal1:checked ~ .modal1{
    top: 20%;
  }

#cerrar-modal1 {
    display: none;
}

#cerrar-modal1 + label {
    position: fixed;
    top: 25%;
    right: 1em;
    bottom: 40%;
    color: #fff;
    background: black;
    width: 25px;
    height: 25px;
    line-height: 150%;
    text-align: center;
    border-radius: 50%;
    transition: all .5s;
}

#cerrar-modal1 + label {
    display: none;
  }

#mostrar-modal1:checked ~ #cerrar-modal1 + label {
    display: block;
}
#cerrar-modal1:checked + label {
    display: none;
}



.imagenPlantillas:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
/*25*/


#imagenNoticias:hover {
    filter: blur(5px);
}

.labelsSocio label {
    display: block;
    margin: .5em 0 0 0 ;
}

.boton {
    display: block;
    margin: 1em 0;
}


