 body {
  /*  border: 2px solid black;*/
    background-image: url("../imagenes/logo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fdfbfb;
   
}

#menuPrincipal {
    width: 20%;
    border-width: 1px;
    border-color: aqua;
    border-style: ridge;
    border-radius: 10%;
    float: left;

}

#contenido {
    width: 75%;
    margin: 5px;
    padding: 5px 20px;
    border-width: 3px ;
    border-color: blue solid;
    border-style: solid;
    float: left;
    
  
    
    
}

.imagen200 {
   width: 400px;
   height: 400px;
   padding: 5px 20px;
   background-image: gray;
   
}



#cabecera {
    border-width: 2px ;
    border-color: brown;
    border-style: solid;
    border-radius: 2%;
}
footer{
    clear: both;
    text-align: center;
}

